<!DOCTYPE html>
<html>
  <body>
    <form action='/formdata' method='post' id='formname'>
      <input type='text' name='string' placeholder='Input text here'>
      <input type='submit' value='Click here to submit'>
    </form>
    <textarea name='string2' form='formname' cols='15' rows='4'></textarea>
  </body>
</html>
